<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" target="SYSTEM_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%d{dd.MM.yyyy HH:mm:ss.SSS}) %yellow([%thread]) %magenta(${PID:- }) %highlight(%-5level)  %boldCyan(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
        <file>C:/Users/Kirill/Desktop/JavaSkillbox/Java_EE/docker-elk/logstash/pipeline/logs/application.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] ${PID:- } %-5level %logger{36}.%M - %msg%n</Pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SAVE-TO-FILE"/>
    </root>
</configuration>